.btn-3d,.btn-3e {
    background-image: linear-gradient(to right, #3232b7 0%, #2575fc 100%);
}
.btn-3d:active:before ,.btn-3e:active:before{
    color: #3232b7;
}
.btn-3d:before,.btn-3e:before {
    color: #3232b7;
    border-top: 1px solid #3232b7;
    border-bottom: 1px solid #3232b7;
}
.btn-3d:before {
    border-left: 1px solid #3232b7;
}
.input-control.required input {
    border: 1px dashed #b7b7b7;
    border-radius: 2px;
}
label {
    color: #3b3f5c;
    margin-bottom: 14px;
}
.form-control::-webkit-input-placeholder {
    color: #888ea8;
    font-size: 15px;
}
.form-control::-ms-input-placeholder {
    color: #888ea8;
    font-size: 15px;
}
.form-control::-moz-placeholder {
    color: #888ea8;
    font-size: 15px;
}
.form-control {
    border: 1px solid #ccc;
    color: #888ea8;
    font-size: 15px;
    border-radius: 2px;
}
.form-control:focus {
    border-color: #f1f3f1;
    border-left: solid 3px #3862f5;
}

.topbar-nav.header nav#topbar ul.menu-categories li.menu:second-child .submenu {
    position: absolute !important;
    top: 37px !important;
    background-color: #fff !important;
    color: #1f212d !important;
    text-align: left !important;
    border-radius: 6px !important;
    box-shadow: 0px 20px 20px rgba(126,142,177,0.12) !important;
    border: 1px solid #e6e6e6 !important;
    margin-right: auto !important;
    margin-left: auto !important;
    left: -29px !important;
    right: -26px !important;
    min-width: 160px !important;
    width: 190px !important;
    padding: 5px !important;
}

.widget.box .widget-template {
    /*height: 820px !important;*/
}
.table > tbody > tr > td .t-dot {
    margin: 0 !important;
}
#templates_dttble tr td:nth-child(3) {
    display: flex !important;
}
.btn-template-default{
    border: 1px solid #fe9a8b;
    border-radius: 5px;
    font-size: 19px;
}
.hide{
    display:none !important;
}
.delay_div{
    margin-bottom: 3rem !important;
}
.widget.box .widget-content {
    height: auto!important;
}
.automation_template_div{
    line-height: 3 !important;
}
#temp_description{
    height: auto !important;
}
.automation_template_div .form-control-sm{
    border: 1px solid #ccc;
    color: #888ea8;
    font-size: 15px;
    border-radius: 2px;
}